version: '3.8'

services:
  database:
    image: postgres:14-alpine
    environment:
      POSTGRES_DB: mydjangodb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    image: coffee-roasting-api
    build: .
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - database
    environment:
      DATABASE_URL: postgres://user:password@db:5432/mydjangodb

volumes:
  postgres_data: